0. Below are the instructions for the overall development workflow.
1. Pick the top most incomplete item from todo.md file.
2. Do the development.
3. Write test cases.
4. Run the test cases.
    4.1. Only If all the test cases pass
        4.1.1. Run ruff
            4.1.1.1. If ruff passes then run test cases again
                4.1.1.1.1. If test cases pass then then mark the item as done in todo.md file. 
                4.1.1.1.2. And git commit the code.
            
            4.1.1.2. If ruff fails then fix the code and run ruff again.

    4.2. If any of the test cases fail, then fix the code and run the test cases again.
    
5. Always make sure that before doing a commit, all the test cases pass.
6. Use python from .venv
9. Follow strict test-driven development and always make sure to write test cases for your new developed code for maximum test coverage.